:host {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

mat-tab-group {
    text-transform: uppercase;
}

.big-icon {
    $icon-size: 24px;
    font-size: $icon-size;
    height: $icon-size;
    width: $icon-size;
}